// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container-fluid {
    margin: 1rem;
}

#selected_mail {
    padding: 1rem;
    background-color: lightgreen;
    border-radius: 5px;
}

#all_mail {
    background-color: lightgreen;
    border-radius: 5px;
}

li {
    list-style-type: none;
}